.first-menu {
  display: flex;
  background-color: rgba(53, 68, 79, 1);
  justify-content: center;
}

.item {
  border-left: 1px solid rgba(255, 255, 255, 1);
}
.item:last-child {
  border-right: 1px solid rgba(255, 255, 255, 1);
}
.item:hover {
  background: rgba(34, 47, 58, 1);
}
.item a {
  padding: 23px 19px;
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffff;
}

@media (max-width: 500px) {
  .first-menu {
    display: none;
  }

  .menu-btn {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background-color: aqua;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: aqua;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-16px);
  }

  .menu-btn__burger::after {
    transform: translateY(16px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #fa00c4;
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #fa00c4;
  }

  nav {
    border: 1px solid black;
    position: relative;
  }

  ul {
    display: none;
  }

  /* .item-mini a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  } */
}
