.container {
  width: 1280px;
  margin: 0 auto;
}

.link-ramda {
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo-ramda {
  padding-top: 63px;
  padding-bottom: 38px;
}

.Ramda-color {
  color: rgb(0, 195, 255);
}

.main-container {
  display: flex;
  padding-top: 48px;
  justify-content: space-between;
}

.aside {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 344px;
  display: flex;
  align-self: flex-start;
}

.second-menu {
  width: 100%;
}

.second-item:hover {
  background-color: rgba(219, 219, 219, 1);
}

.second-item a:hover {
  color: #000000;
  text-align: center;
  padding: 27px 0;
}

.second-item a {
  display: block;
  text-decoration: none;
  color: rgba(73, 88, 99, 1);
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  padding-left: 44px;
  padding-bottom: 52px;
}

.second-item:last-child a {
  padding-bottom: 30px;
}

.second-item:first-child a {
  padding-bottom: 52px;
  padding-top: 26px;
}

.content {
  width: 885px;
  padding-bottom: 54px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0;
  border: 1px solid rgba(0, 0, 0, 1);
}

.text {
  padding-top: 27px;
}

.lorem-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.second-text {
  margin-top: 34px;
}

.foot {
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
}

.foot-menu {
  display: flex;
  justify-content: space-between;
  width: 875px;
}
.foot-menu a {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  color: #0c1927;
}
.thirt-item:first-child {
  padding-left: 40px;
}

.thirt-item a:hover {
  color: rgb(0, 81, 255);
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(0, 81, 255);
}

.copyright {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.copyright a {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: rgba(1, 1, 1, 1);
  text-decoration: none;
}
