.instagram-pages {
  background-color: rgb(241, 241, 237);
  padding-top: 47px;
  padding-bottom: 50px;

  &__title {
    display: flex;
    justify-content: space-between;

    &__main-title {
      @include titles;

      &__mini-size-title {
        display: none;
      }
    }

    &__more-img a {
      @include titles;
      text-decoration: $text-decoration;
    }
  }

  &__img-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &__img-box {
      max-height: 280px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .instagram-pages {
    padding-top: 35px;

    &__title {
      &__main-title {
        margin-bottom: $titlesMargin;
      }

      &__more-img a {
        margin-bottom: $titlesMargin;
      }
    }
  }

  .instagram-pages__img-section__img-box {
    max-width: 230px;
    &:last-child {
      display: none;
    }
    & img {
      width: 100%;
    }
  }
}

@media (max-width: 321px) {
  .container {
    min-width: 320px;
  }
  .instagram-pages {
    background-color: transparent;
    padding-bottom: 42px;

    .instagram-pages__title {
      &__main-title {
        display: none;

        &__mini-size-title {
          display: block;
          @include titles;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 13px;
        }
      }

      &__more-img a {
        display: none;
      }
    }
    &__img-section__img-box {
      max-width: 260px;
      &:not(:first-child) {
        display: none;
      }
    }
  }
}
