.footer {
  background-color: #000000;
  padding: 66px 0;
  text-align: center;

  &__title {
    @include titles;
    color: $titlesFooterColor;
  }

  &__sub-title {
    @include subTitles;
    font-size: 16px;
    line-height: 28px;
    padding: 0 200px;
    margin-bottom: 48px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 34px;
  }

  &__contacts {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #b9b9b9;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 57px;
  }
}

@media (max-width: 321px) {
  .container {
    min-width: 320px;
  }
  .footer {
    padding-top: 38px;
    padding-bottom: 47px;

    &__title {
      @include titles;
      color: $titlesFooterColor;
      font-size: 14px;
      line-height: 12px;
      margin-bottom: 8px;
    }

    &__sub-title {
      @include subTitles;
      font-size: 8px;
      line-height: 20px;
      padding: 0 20px;
      margin-bottom: 26px;
    }

    &__icons {
      margin-bottom: 25px;
      gap: 3px;
    }

    &__contacts {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      padding: 0px 45px;
    }
  }
}
