.main__title {
  @include titles;
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;

  .content-box {
    display: flex;
    margin-bottom: 30px;
    gap: 21px;
    flex: 50%;

    &__img {
      height: 140px;
    }
    &__img img {
      height: 100%;
      overflow: hidden;
    }

    &__description__tittle {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #4e4e4e;
    }

    .content-box__description__sub-title {
      @include subTitles;
    }

    .content-box__description__text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #5c5c5c;
      margin-top: 12px;
    }
  }
}

@media (max-width: 768px) {
  .main__content {
    margin-bottom: 60px;
  }

  .main__content {
    flex-direction: column;
  }
}

@media (max-width: 321px) {
  .container {
    min-width: 320px;
  }
  .main__title {
    font-size: 14px;
    line-height: 12px;
  }
  .main__content {
    margin-bottom: 40px;
    .content-box {
      flex-direction: column;
      margin-bottom: 25px;

      &__description__tittle {
        font-size: 14px;
        line-height: 30px;
      }

      &__sub-title {
        font-size: 11px;
      }

      &__description__text {
        display: none;
      }
    }
  }
}
