@mixin titles {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: rgba(78, 78, 78, 1);
}

@mixin subTitles {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
  margin-top: 2px;
}
