.main-nav {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: center;

    &__item {
      padding: 45px 65px 45px 0;
      &:last-child {
        padding-right: 0;
      }

      &__link {
        text-decoration: none;
        color: rgba(78, 78, 78, 1);
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;

        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 22px;

        &:hover {
          color: #57a4a4;
        }
      }
    }
  }
}

.header__foot {
  margin-bottom: 60px;
}

.header__foot__img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
  height: 500px;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
  .main-nav {
    &__list {
      opacity: 0;
      pointer-events: none;
      display: block;
      position: absolute;
      right: 0;
      top: 60px;
      background: #f5f5f5;
      width: 182px;
      height: 208px;
    }
  }

  .header__foot {
    margin-bottom: 50px;
    margin-top: 83px;

    &__img {
      max-height: 360px;
      max-width: 100%;
    }
  }

  .menu-btn {
    width: 44px;
    height: 37px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: black;
    right: 0;
    top: 23px;
  }

  .menu-btn__burger {
    width: 17px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-4px);
  }

  .menu-btn__burger::after {
    transform: translateY(4px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .open-menu {
    opacity: 1;
    transition: 0.2s ease-in-out;
    pointer-events: visible;
  }
  .main-nav__list__item {
    padding: 0;

    &__link {
      padding: 8px 0 8px 12px;
      font-size: 11px;
      line-height: 11px;
      display: block;

      &:hover {
        background-color: rgba(229, 229, 229, 1);
      }
    }
  }
}

@media (max-width: 321px) {
  .container {
    min-width: 320px;
  }
  .header {
    position: relative;
  }

  .header__foot {
    margin-bottom: 50px;
    margin-top: 83px;

    &__img {
      max-height: 150px;
      max-width: 100%;
    }
  }
}
