@import "_reset.scss";
@import "_mixins.scss";
@import "_variables.scss";
@import "_navbar.scss";
@import "_main.scss";
@import "_article.scss";
@import "_footer.scss";

body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
