body {
  background-image: url(../images/background\ 1.png);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  width: 1023px;
  margin: 0 auto;
}
.logo {
  padding-top: 51px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  padding-left: 7px;
}
.logo-link {
  display: flex;
  text-decoration: none;
  position: relative;
}

.image-logo {
  object-fit: cover;
}

.header-title > span {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.contacts {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
}

.tel-number {
  margin-top: 19px;
  text-align: end;
}

.link-contact {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.main-section {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 49px;
}

.img-title {
  font-size: 18px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 20px;
}

.first-line {
  margin-bottom: 37px;
}

.second-line {
  margin-bottom: 49px;
}

.footer {
  margin-bottom: 15px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

.logo-link:hover > .header-title {
  color: rgba(242, 101, 34, 1);
}

.logo-hover {
  position: absolute;
  opacity: 0;
}

.logo-link:hover > .logo-hover {
  opacity: 1;
}

.email:hover {
  color: rgba(242, 101, 34, 1);
}

.tel-number:hover {
  color: rgba(242, 101, 34, 1);
}

.main-img {
  position: relative;
}

.hover-box {
  position: absolute;
  height: 55px;
  width: 100%;
  top: 165px;
  background-color: rgba(242, 101, 34, 1);
  display: flex;
  opacity: 0;
}

.price {
  display: block;
  font-size: 20px;
  line-height: 20px;
  padding-top: 8px;
}

.cost {
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  line-height: 10px;
  padding-left: 16px;
  padding-top: 7px;
}

.details {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-left: 128px;
  margin-top: 29px;
  margin-bottom: 12px;
}

.link-item {
  text-decoration: none;
}

.main-img:hover > .hover-box {
  opacity: 1;
  transition: 0.5s;
}

.main-img:hover .img-title {
  color: rgba(242, 101, 34, 1);
  transition: 0.5s;
}

.details::after {
  content: "\276F";
  padding-left: 16px;
}

.link-item > img {
  display: block;
}

.logo-details {
  text-decoration: none;
}
