.image-to-show {
  width: 400px;
  height: 400px;
  display: none;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  display: block;
  margin-top: 50px;
  height: 50px;
  width: 100px;
}
