.header {
  background-color: #27262a;
  //   position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  min-height: 103px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__btn-buy {
    width: 119px;
    height: 37px;
    background: #8d81ac;
    border-radius: 40px;
    border: 0px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
  }

  &__menu-btn {
    display: block;
    height: 37px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
  }

  &__menu-btn__burger {
    width: 17px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  &__menu-btn__burger::before,
  &__menu-btn__burger::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
  }

  &__menu-btn__burger::before {
    transform: translateY(-6px);
    right: 0px;
    width: 10px;
  }

  &__menu-btn__burger::after {
    transform: translateY(6px);
    width: 17px;
  }

  &__menu-btn.open &__menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
  }

  &__menu-btn.open &__menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    width: 17px;
  }

  &__menu-btn.open &__menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  &__menu-burger {
    position: absolute;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    background: #333333;
    top: 100%;
    left: 0px;
    // right: 3px;

    // &___item__link {
    //   color: white;
    //   padding: 20px;
    // }
  }

  &__menu-burger__item {
    & a {
      display: block;
      color: #ffffff;
      padding: 29px 109px 21px 35px;
      font-size: 26px;
      line-height: 26px;
      border-bottom: 2px solid rgba(212, 212, 212, 0.1);
    }
  }
}
