.input-focus {
  border: 1px solid green;
  outline: none;
  border-radius: 2px;
}

.input-not-valid {
  outline: none;
  border: 1px solid red;
  border-radius: 2px;
}

.current-price {
  border-radius: 20px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid indigo;
  width: fit-content;
  padding: 5px;
  font-size: small;
}

.btt-remove {
  margin-left: 5px;
  border-radius: 40%;
  height: 1, 5em;
  width: 1, 5em;
  border: 1px solid grey;
}

.label-text {
  margin-right: 5px;
}
