.enter-section {
  background-color: rgba(206, 15, 133, 0.822);
  position: relative;
  width: 444px;
}

.facebook_btn {
  background-color: rgb(22, 139, 61);
  position: relative;
  padding: 0 22px 0 16px;
  transition: 0.3s;
}

.google_plus_btn {
  background-color: rgb(138, 8, 58);
  position: relative;
  padding: 0 27px 0 12px;
  transition: 0.3s;
}
.btn-change-color {
  width: 150px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: tomato;
  cursor: pointer;
  font-size: 20px;
  color: yellowgreen;
  border-radius: 50%;
  border: none;
}
