body {
  background-image: url(../images/bg\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header {
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 79px;
}

.main-title a {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.main-title a:hover {
  color: rgba(1, 129, 63, 1);
}

.logo-section {
  display: flex;
}

.logo {
  margin-right: 25px;
}

.logo:hover > .logo-color {
  fill: rgba(1, 129, 63, 1);
  transition: 0.3s;
}

.logo:hover {
  cursor: pointer;
}

.thirt-logo {
  margin-right: 53px;
}

.enter {
  display: flex;
  align-items: center;
}

.enter-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
}

.enter-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  transition: 0.3s;
}

.enter-text a:hover {
  color: rgba(1, 129, 63, 1);
}

.enter::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.9);
  width: 1px;
  height: 19px;
  position: relative;
  right: 26px;
}

.main-section {
  min-height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-section {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 444px;
}

.content {
  padding: 30px 60px;
}

.title-line {
  display: flex;
  justify-content: space-between;
}

.registration {
  font-family: "Ubuntu", sans-serif;
  color: rgba(67, 67, 67, 1);
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.enter-section::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: rgba(60, 184, 120, 1);
  top: 29px;
  position: absolute;
}

.log-in {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
  transition: 0.3s;
}

.log-in:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}

.button-section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  justify-content: space-between;
  cursor: pointer;
}

.facebook_btn {
  background-color: rgba(48, 93, 184, 1);
  position: relative;
  padding: 0 22px 0 16px;
  transition: 0.3s;
}

.facebook_btn:hover {
  background-color: rgba(2, 34, 99, 1);
}

.facebook_logo {
  font-size: 25px;
  color: #ffffff;
}

.facebook_title {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.facebook_btn::before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background-color: rgba(10, 22, 47, 0.1);
  left: 10px;
  position: absolute;
  top: 10px;
  left: 48px;
}

.google_plus_btn {
  background-color: rgba(223, 74, 50, 1);
  position: relative;
  padding: 0 27px 0 12px;
  transition: 0.3s;
}

.google_plus_btn:hover {
  background-color: rgba(171, 31, 9, 1);
}

.google_plus_logo {
  font-size: 25px;
  color: #ffffff;
}

.google_plus_title {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.google_plus_btn::before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background-color: rgba(10, 22, 47, 0.1);
  left: 10px;
  position: absolute;
  top: 10px;
  left: 50px;
}

.line {
  margin-top: 31px;
  position: relative;
  margin-bottom: 12px;
}

.or-line {
  font-family: "Ubuntu", sans-serif;
  color: rgba(132, 132, 132, 1);
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.or-line:before,
.or-line::after {
  display: block;
  content: "";
  width: 152px;
  height: 1px;
  top: 50%;
  background-color: rgba(242, 242, 242, 1);
  position: absolute;
}

.or-line::after {
  right: 0px;
}
.or-line:before {
  left: 0px;
}

.input-text {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgba(242, 242, 242, 1);
  outline: none;
  padding: 15px 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  color: rgba(67, 67, 67, 1);
}

.input-text::-webkit-input-placeholder {
  color: rgba(190, 190, 190, 1);
}

.input-text:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-lable {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-bottom: 40px;
}

.checkbox-lable > a {
  color: rgba(60, 184, 120, 0.8);
  text-decoration: none;
  transition: 0.3s;
}

.checkbox-lable > a:hover {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}

.btn-submit {
  margin-top: 20px;
  width: 100%;
  padding: 16px 0;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: rgba(1, 129, 63, 1);
}

.check_input {
  appearance: none;
  position: absolute;
}

.check_box {
  position: absolute;
  width: 1em;
  height: 1em;
  border: 1px solid #f2f2f2;
  background-color: rgba(0, 0, 0, 0.0001);
  margin-left: -25px;
  background-image: url(../images/input-bg.svg);
  background-size: cover;
}

.check {
  padding-left: 25px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.check a {
  color: rgba(60, 184, 120, 0.8);
  text-decoration: none;
}

.check a:hover {
  text-decoration: underline;
  color: #01813f;
}

.check_input:checked + .check_box {
  background-image: none;
}

.btn-change-color {
  width: 150px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: tomato;
  cursor: pointer;
  font-size: 20px;
  color: yellowgreen;
  border-radius: 50%;
  border: none;
}
