body {
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  text-align: center;
  width: 48%;
  transform: perspective(20px) rotate3d(10, 0, 0, 3deg);
}

.text-animation {
  animation-name: animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title {
  font-weight: bold;
  font-size: 45px;
  color: yellow;
  margin-bottom: 50px;
}

.text {
  font-size: 40px;
  color: yellow;
  padding-bottom: 30px;
  text-align: start;
}

@keyframes animation {
  0% {
    transform: translateY(400px);
  }

  100% {
    transform: translateY(-300px);
  }
}
