.header {
  background: url(../images/header-bg.jpeg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.nav-bar {
  background-color: rgba(49, 49, 49, 1);
  display: flex;
}
.logo-img {
  padding: 22px 27px;
  object-fit: cover;
}

.name-tittle {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding: 22px 0;
  color: rgba(255, 255, 255, 1);
}
.menu {
  display: flex;
  padding: 26px 0;
  justify-content: space-between;
  width: 722px;
}

.menu .item a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo-tittle {
  display: flex;
  text-decoration: none;
}

.btt-search {
  color: white;
  background-color: #000;
  padding: 26px;
  cursor: pointer;
  border: none;
  width: 68px;
  height: 73px;
}

.menu .item a:hover {
  color: rgba(20, 185, 213, 1);
}

.tittle-text {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
}

.first-tittle {
  color: #ffff;
  margin-top: 164px;
}

.buttons-container {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  padding: 44px;
}
.button-start {
  padding: 16px 19px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background-color: rgba(137, 202, 98, 1);
  color: #ffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-start:last-child {
  margin-left: 20px;
  background-color: rgba(20, 185, 213, 1);
}

.popular-post-bg {
  background-color: #f2f2f2;
  padding-top: 49px;
  padding-bottom: 70px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.second-tittle {
  color: rgba(24, 180, 207, 1);
  margin-bottom: 52px;
}

.page-photo {
  height: 830px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0 30px;
}
.photo {
  width: 370px;
}

.under-text {
  text-align: center;
  color: rgba(53, 58, 61, 1);
  padding: 22px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 1);
}

.clients {
  background: url(../images/bg-img2.jpeg);
  background-position: center;
  background-size: cover;
}

.hr {
  width: 60px;
  height: 3px;
  background-color: rgba(24, 180, 207, 1);
  border: none;
}

.thirt-tittle {
  padding-top: 106px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 87px;
}

.emblem {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-template-columns: auto;
  gap: 58px;
  align-items: center;
  padding-bottom: 192px;
  padding-top: 106px;
}

.fourth-tittle {
  color: rgba(24, 180, 207, 1);
  padding-top: 49px;
}

.top-rated-bar {
  padding-top: 52px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}
.mini-ph {
  width: 100%;
}

.fifth-tittle {
  color: rgba(24, 180, 207, 1);
  padding-top: 49px;
  padding-bottom: 51px;
}

.top-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 259px 418px 416px 259px;
  gap: 35px;
}
.news {
  background-color: #f9f7f7;
}
.article-head {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: rgba(53, 58, 61, 1);
  padding-bottom: 14px;
}

.news-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(91, 100, 105, 1);
}

.prophecy-hotel {
  grid-column: 1/4;
  display: flex;
  align-items: center;
}
.desc-left {
  padding-left: 10px;
}

.nebula-hotel {
  grid-column: 4/5;
}

.nebula-head {
  text-align: center;
  padding: 14px 0 11px 0;
}
.western-pyramid {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grand-meadows {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wanderlust-resort {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twin-sanctuary {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prism-hotel {
  grid-column: 1/2;
}

.prism-head {
  text-align: center;
  padding: 5px 0 48px 0;
}

.kings-resort {
  grid-column: 2/5;
  display: flex;
  align-items: center;
}

.descript {
  text-align: end;
}

.photo-news-item {
  object-fit: cover;
}

.footer {
  background-color: #000;
  margin-top: 77px;
}

.foot-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.copyright {
  font-size: 13px;
  line-height: 13px;
  color: rgba(255, 255, 255, 1);
}

.foot-logo {
  display: flex;
  align-items: flex-start;
}
