* {
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
}

.menu {
  padding: 26px 0;
  display: flex;
  justify-content: center;
}
.menu li {
  display: inline;
  padding-right: 72px;
  font-size: 18px;
  line-height: 18px;
}

.menu li a {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.image {
  width: 100%;
}
.represent {
  text-align: center;
  color: rgba(55, 55, 55, 1);
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 49px;
  letter-spacing: 3.3px;
}

.content-box {
  padding: 38px 65px;
}

.lorem {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.big {
  margin-top: 28px;
  margin-bottom: 66px;
}
.btt {
  display: flex;
  justify-content: center;
}
.start-btt {
  background-color: rgba(255, 0, 0, 1);
  /* width: 191px;
  height: 51px; */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  padding: 18px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  margin-bottom: 29px;
}
.copyright {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgba(55, 55, 55, 1);
}
